<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.BDMonterreyConnectionString"
            connectionString="Data Source=MAURI\MAURI;Initial Catalog=BDMonterrey;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>